Package: pthreads
Version: 3.0.0
Port-Version: 14
Depends: vcpkg-cmake-config:x64-windows
Architecture: x86-windows
Multi-Arch: same
Abi: 63c02c3d6ff9d43abbd9842b13208c04e6cd369675e59a13d16287c2b443b02f
Description: Meta-package that provides PThreads4W on Windows, or assumes presence of system pthreads on POSIX systems.
