Package: libwebsockets
Version: 4.3.2
Depends: libuv, openssl, pthreads, vcpkg-cmake:x64-windows, vcpkg-cmake-config:x64-windows, zlib
Architecture: x86-windows
Multi-Arch: same
Abi: 4d383b33eb8bf0eee165d9f5e44c239cc508f1c4a0dc9b55469811474e1f9ce8
Description: Libwebsockets is a lightweight pure C library built to use minimal CPU and memory resources, and provide fast throughput in both directions as client or server.
